<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Bonlineco.
 *
 * SPDX-License-Identifier: MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Bonlineco\SalesExchange\Ui\DataProvider\ExchangeSearchResult"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bonlineco_sales_exchange</argument>
            <argument name="resourceModel"
                      xsi:type="string">Bonlineco\SalesExchange\Model\ResourceModel\Exchange</argument>
            <argument name="identifierName" xsi:type="string">entity_id</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bonlineco_sales_exchange_listing_data_source"
                      xsi:type="string">Bonlineco\SalesExchange\Ui\DataProvider\ExchangeSearchResult</item>
            </argument>
        </arguments>
    </type>
</config>
