<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Bonlineco.
 *
 * SPDX-License-Identifier: MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bonlineco_SalesExchange::exchange_orders"
             title="Exchange Orders"
             translate="title"
             module="Bonlineco_SalesExchange"
             sortOrder="80"
             parent="Magento_Sales::sales_operation"
             action="salesexchange/exchange/index"
             resource="Bonlineco_SalesExchange::view"/>
    </menu>
</config>
